.Rproj.user
.Rhistory
.RData
.Ruserdata
*.xlsx
*.xlsx
*.xlsx
*.xlsx
*.xlsx
data/prevalence_high.xlsx
data/reports_replication.xlsx
data/reports_replication_high.xlsx
tables_outline.xlsx
*.xlsx
*.xlsx
/data
data/reports_replication_high.xlsx
data/reports_replication.xlsx
data/problems_breakdown.xlsx
data/prevalence_high.xlsx
