*.xlsx
*.dta
*.stswp
.Rproj.user/F33598E2/sources/session-3be233bf/F48A9C5F
.Rproj.user/F33598E2/sources/prop/235ED874
.Rproj.user/F33598E2/sources/prop/41FD21E7
.Rproj.user/F33598E2/sources/prop/76ADC029
.Rproj.user/F33598E2/sources/prop/BEB99AD7
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/F33598E2/sources/session-3be233bf/lock_file
.Rproj.user/F33598E2/sources/session-3be233bf/F7508607-contents
.Rproj.user/F33598E2/sources/session-3be233bf/F48A9C5F-contents
.Rproj.user/F33598E2/sources/session-3be233bf/DF56DC0B-contents
.Rproj.user/F33598E2/sources/session-3be233bf/C4C096AF-contents
.Rproj.user/F33598E2/sources/prop/INDEX
.Rproj.user/F33598E2/sources/session-3be233bf/0CE0A789
.Rproj.user/F33598E2/sources/session-3be233bf/0CE0A789-contents
.Rproj.user/F33598E2/sources/session-3be233bf/810DB168
.Rproj.user/F33598E2/sources/session-3be233bf/810DB168-contents
.Rproj.user/F33598E2/sources/session-3be233bf/C4C096AF
.Rproj.user/shared/notebooks/paths
