*.xlsx
*.dta
*.stswp
.Rproj.user/F33598E2/sources/session-3be233bf/F48A9C5F
.Rproj.user/F33598E2/sources/prop/235ED874
.Rproj.user/F33598E2/sources/prop/41FD21E7
.Rproj.user/F33598E2/sources/prop/76ADC029
.Rproj.user/F33598E2/sources/prop/BEB99AD7
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/F33598E2/sources/session-3be233bf/lock_file
.Rproj.user/F33598E2/sources/session-3be233bf/F7508607-contents
.Rproj.user/F33598E2/sources/session-3be233bf/F48A9C5F-contents
.Rproj.user/F33598E2/sources/session-3be233bf/DF56DC0B-contents
.Rproj.user/F33598E2/sources/session-3be233bf/C4C096AF-contents
.Rproj.user/F33598E2/sources/prop/INDEX
.Rproj.user/F33598E2/sources/session-3be233bf/0CE0A789
.Rproj.user/F33598E2/sources/session-3be233bf/0CE0A789-contents
.Rproj.user/F33598E2/sources/session-3be233bf/810DB168
.Rproj.user/F33598E2/sources/session-3be233bf/810DB168-contents
.Rproj.user/F33598E2/sources/session-3be233bf/C4C096AF
.Rproj.user/shared/notebooks/paths
.Rhistory
.Rproj.user/F33598E2/rmd-outputs
.Rproj.user/F33598E2/saved_source_markers
.Rproj.user/F33598E2/sources/per/t/F4ADE97D
.Rproj.user/F33598E2/sources/per/t/F4ADE97D-contents
code/.Rhistory
data/original/OECD-LEGAL_IncludingVerbatims.sav
.Rproj.user
.DS_Store
output/access2DRM.svg
output/access2rep.svg
output/access2info.svg
output/coocurrence.svg
output/DRM.svg
output/fairness.svg
output/contacted_DRM.svg
output/prevalence.svg
output/timeliness.svg
output/outcome_done.svg
*.svg
*.pdf
*.svg
*.svg
output/noresol_reasons.svg
*.svg
*.svg
